.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: gray;
  cursor: pointer;
}

.headerOption:hover {
  color: black;
}

.headerOption__title {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.headerOption__icon {
  object-fit: contain;
  width: 26px !important;
  height: 26px !important;
}
